
    <div class="container">

        <div class="card-container">
            <div class="left">
                <div class="left-container">
                    <h2>Hubungi Kami</h2>
                    <br>
                    <p>Bantu kami dengan memberi masukan pada website ini</p>
                </div>
            </div>
            <div class="right">
                <div class="right-container">
                    <form action="">
                        
                        <input type="text" placeholder="Nama">
                        <input type="email" placeholder="Alamat Email">
                        <input type="phone" placeholder="Telepone" autocomplete="off">
                        <textarea rows="10" placeholder="Pesan"></textarea>
                        <button>Kirim</button>
                        <a href="/">Homepage</a>
                    </form>
                </div>
            </div>
        </div>
    </div>