<br><br><br>
<style>
    div.background {
      background: url(BG.jpg) repeat;
    }
    
    div.transbox {
      margin: 30px;
      background-color: #ffffff;
      border: 1px solid black;
      opacity: 0.5;
    }
    
    div.transbox p {
      margin: 5%;
      font-weight: bold;
      color: #000000;
    }
    </style>
    </head>
    <body>
    
    <div class="background">
      <div class="transbox">
        <CENTER style="font-size: 25px;"><p><B>SURAT KETERANGAN KEMATIAN</b></p></CENTER>
        <p>1.Surat Keterangan Kematian dari Wali 
            Nagari<br>
            2. Fato copy Kartu Keluarga (KK)<br>
            3. Surat Keterangan Kematian dari Dokter 
            /RS/Puskesmas Setempat</p>
      </div>
    </div>