<br><br><br>
<style>
    div.background {
      background: url(BG.jpg) repeat;
    }
    
    div.transbox {
      
      margin: 30px;
      background-color: #ffffff;
      border: 1px solid black;
      opacity: 0.5;
    }
    
    div.transbox p {
      margin-left: 100px;
      margin: 5%;
      font-weight: bold;
      color: #000000;
    }
    </style>
    </head>
    <body>
    
    <div class="background">
      <div class="transbox">
        <CENTER style="font-size: 25px;"><p><B>PROPOSAL KELOMPOK</b></p></CENTER>
        <P>1. Surat Permohonan yang diketahui oleh 
            Wali Nagari dan PPL, atau Petugas Terkait.<br>
            2. Foto copy Akta notaris Pengesahan 
            Kelompok dimaksud.<br>
            3. Keputusan Wall Nagari tentang 
            Penetapan Kelompok dimaksud.<BR>
            4. Foto copy e-KTP anggota 
            Kelompok/Pangurus Kelompok dimaksud.</P>
      </div>
    </div>