<br><br><br>
<style>
    div.background {
      background: url(BG.jpg) repeat;
    }
    
    div.transbox {
      margin: 30px;
      background-color: #ffffff;
      border: 1px solid black;
      opacity: 0.5;
    }
    
    div.transbox p {
      margin: 5%;
      font-weight: bold;
      color: #000000;
    }
    </style>
    </head>
    <body>
    
    <div class="background">
      <div class="transbox">
        <CENTER style="font-size: 25px;"><p><B>VISI DAN MISI</b></p></CENTER>
        <p>“TERWUJUDNYA PELAYANAN PRIMA YANG PROFESIONAL, AKUNTANBEL DAN KREDIBEL DI KECAMATAN LINTAU BUO”</p>
        <P>1. REFORMASI BIROKRASI DALAM RANGKA MENINGKATKAN PELAYANAN PUBLIK<BR>
            2. MEWUJUDKAN PRILAKU BUDAYA BIROKRASI YANG BERSIH
            PRODUKTIF, EFISIEN, EFEKTIF, DAN BERTANGGUNG JAWAB<BR>
            3. BERUSAHA MENCIPTAKAN SISTEM KELEMBAGAAN PEMERINTAH
            YANG MENDUKUNG TERWUJUD PROFESIONALISME,
            TRANSPARASI DAN PARTISIPASI MASYARAKAT DALAM
            PENYELENGGARAAN PEMBANGUNAN, PEMBERDAYAAN DAN
            PELAYANAN KEPADA MASYARAKAT</P>
      </div>
    </div>