<br><br><br>
<style>
    div.background {
      background: url(BG.jpg) repeat;
    }
    
    div.transbox {
      margin: 30px;
      background-color: #ffffff;
      border: 1px solid black;
      opacity: 0.5;
    }
    
    div.transbox p {
      margin: 5%;
      font-weight: bold;
      color: #000000;
    }
    </style>
    </head>
    <body>
    
    <div class="background">
      <div class="transbox">
        <CENTER style="font-size: 25px;"><p><B>SURAT KETERANGAN SKCK</b></p></CENTER>
        <P>1. Surat Keterangan Catatan Kepolisian
            yang telah ditanda tangani oleh Wali
            Nagari<br>
            2. Foto copy e-KT</P>
      </div>
    </div>